.App {
  text-align: center;
  min-height: 100vh;
  background-color: #d1cccc;
  background-image: url('./background-image.jpeg');
  font-family: 'Balsamiq Sans', cursive;
  color: rgb(0, 33, 53);
}

button, input, textarea, select {
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  color: rgb(0, 33, 53);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #086788, #2babd5);
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: #ba1212;
  min-width: 100%;
  min-height: 5vh;
  font-size: large;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: #d1cccc;
}

nav a:hover {
  color: #f9f9f9;
}

.title-container {
  display: flex;

  height: 22vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin-bottom: 1vh;
}

.title h1 {
  margin: 0 auto;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 7vh;
  color: #f9f9f9;
}

.icon {
  height: 18vh;
  width: auto;
  margin: 2vh auto;
}

.home, .about {
  margin: auto 10vw;
}

.about p {
  text-align: left;
}

.chore-chart {
  font-weight: bold;
  font-style: italic;
}

.home button {
  padding: 1vh;
}

.quote-text {
  font-weight: 700;
  font-style: italic;
  font-size: large;
}

.quote-author {
  font-style: italic;
}

.chores {
  padding-bottom: 5vh;
}

.accordion-sign {
  font-size: 25px;
  margin-right: 10vw;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: left;

  cursor: pointer;
  padding: 2vh 2vw;
  margin: 2vh 10vw;
  border: 2px solid rgb(133, 133, 133);
  background-color: rgb(7, 92, 126);
  color: rgb(0, 10, 17);
  font-size: larger;
}

.accordion-body {
  margin: auto 11vw;
}

.chore-card {
  display: flex;
  flex-direction: column;

  border: 1px solid rgb(7, 92, 126);
  border-radius: 1px;
  margin-bottom: 2vh; 
  backdrop-filter: blur(3.5px) contrast(2);
}

.chore-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chore-card-header {
  margin: auto 2vw;
}

.chore-card-header-main {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5vh;
  width: 5vh;
  margin-right: 2vw;
}

.checkbox h1 {
  font-size: 7vh;
}

.high {
  color: #ba1212;
}

.medium {
  color: #d68c15;
}

.low {
  color: #086788;
}

.chore-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto 2vw;
}

.chore-card-buttons {
  display: flex;
  justify-content: space-evenly;
}

.chore-card-buttons button {
  margin: 2vh .5vw;
  padding: 1vh;
}

button {
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #086788;
}

form {
  margin: 2vh auto;
}

form input, textarea {
  margin-bottom: 2vh;
  min-width: 30vw;
  border: none;
  border-radius: 2px;
}

form button {
  padding: 1vh;
  margin: 2vh 1vw;
}

.household {
  padding-bottom: 5vh;
}

.profile-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  border: 1px solid #406376;
  border-radius: 1px;
  backdrop-filter: blur(3.5px) contrast(2);
  margin: auto 10vw;
  margin-bottom: 2vh; 
}

.profile-card button {
  margin: auto 1vw;
}

.admin-icon {
  height: 5vh;
}