/* default React styles */

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('./background-image.jpeg');
  font-family: 'Balsamiq Sans', cursive;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #086788, #2babd5);
}

.title-container {
  display: flex;

  height: 20vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title h1 {
  margin: 0 auto;
  padding: 0;
  align-self: baseline;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 7vh;
  color: #f9f9f9;
}

.icon {
  height: 18vh;
  width: auto;
  margin: 1vh auto;
}

/* accordion styles */

.accordion-sign {
  font-size: 25px;
  margin-right: 10vw;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: left;

  cursor: pointer;
  padding: 2vh 2vw;
  margin: 2vh 5vw;
  border: 2px solid rgb(133, 133, 133);
  background-color: rgb(7, 92, 126);
}
.accordion-body {
  padding: 15px 5px;
  margin: -2vh 5vw;
}

/* .accordion-title {
  text-align: center;
} */

.chore-card {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  margin-bottom: 2vh; 
  backdrop-filter: blur(3.5px) contrast(2);
}

.chore-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chore-card-header input {
  margin-right: 2vw;
}

.chore-card-buttons {
  margin-bottom: 2vh;
}