.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('./background-image.jpeg');
  font-family: 'Balsamiq Sans', cursive;
}

button {
  font-family: 'Balsamiq Sans', cursive;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #086788, #2babd5);
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: #ba1212;
  min-width: 100%;
  min-height: 4vh;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.title-container {
  display: flex;

  height: 20vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.title h1 {
  align-self: baseline;

  margin: 0 auto;
  padding: 0;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 7vh;
  color: #f9f9f9;
}

.icon {
  height: 18vh;
  width: auto;
  margin: 1vh auto;
}

.chores {
  padding-bottom: 5vh;
}

.accordion-sign {
  font-size: 25px;
  margin-right: 10vw;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: left;

  cursor: pointer;
  padding: 2vh 2vw;
  margin: 2vh 10vw;
  border: 2px solid rgb(133, 133, 133);
  background-color: rgb(7, 92, 126);
}
.accordion-body {
  margin: auto 11vw;
}

.chore-card {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  margin-bottom: 2vh; 
  backdrop-filter: blur(3.5px) contrast(2);
}

.chore-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chore-card-header h4 {
  margin-right: 2vw;
}

.chore-card-header-main {
  display: flex;
  align-items: center;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5vh;
  width: 5vh;
  margin: auto 2vw;
}

.checkbox:hover {
  box-shadow: #406376;
}

.checkbox h1 {
  font-size: 7vh;
}

.high {
  color: #ba1212;
}

.medium {
  color: #e29318;
}

.low {
  color: #086788;
}

.chore-card-buttons {
  margin-bottom: 2vh;
}

.profile-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  border: 1px solid #406376;
  border-radius: 1px;
  backdrop-filter: blur(3.5px) contrast(2);
  margin: auto 10vw;
  margin-bottom: 2vh; 
}

.profile-card button {
  margin: auto 1vw;
}

.admin-icon {
  height: 5vh;
}