/* default React styles */

.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

/* accordion styles */

.accordion-sign {
  font-size: 25px;
  margin-right: 10vw;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: left;

  cursor: pointer;
  padding: 2vh 2vw;
  margin: 2vh 5vw;
  border: 2px solid rgb(133, 133, 133);
  background-color: rgb(7, 92, 126);
}
.accordion-body {
  padding: 15px 5px;
  margin: -2vh 5vw;
}

/* .accordion-title {
  text-align: center;
} */

.chore-card {
  display: flex;
  flex-direction: column;

  border: 1px solid black;
  margin-bottom: 2vh; 
}

.chore-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chore-card-header input {
  margin-right: 2vw;
}

.chore-card-buttons {
  margin-bottom: 2vh;
}